:root {
  --secondary-color: #f9f7fd;
  --branding-color: #6c63ff;
}
footer {
  margin: 60px 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #272142;
  line-height: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  color: #272142;
  margin-top: 20px;
}

img {
  border-radius: 20px;
}

nav {
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--branding-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}

.logo {
  max-width: 150px;
}

.container-content {
  margin: 30px;
}

.container-content p {
  font-size: 14px;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.email-link:hover {
  color: var(--branding-color);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 0;
}
.hero-container {
  padding: 160px 20px;
}

.hero-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.hero-container h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.hero-container h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.hero p {
  font-family: "Poppins", sans-serif;
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  margin-top: 20px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.feature-description {
  padding: 10px 40px;
}
.feature-picture {
  background-color: var(--secondary-color);
}

.social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-link a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  nav {
    margin-left: 40px;
  }
  .hero {
    padding: 80px 0;
  }

  .feature-description {
    /*padding: 0;*/
    text-align: center;
  }

  .hero-container {
    text-align: center;
    padding: 0;
  }
}
